{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<title>Track Your Travel</title>

 <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'Stylesheet.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h2 {font-size: 50px;}
.button {
  border-radius: 4px;
  background-color: #69C0F9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

body {
  background-image: url("{% static 'img/trackurtravel.jpg' %}");
    background-size: cover;
  font-family: 'Roboto mono', monospace;
    font-size: 30px;
    background-color: #FFFFFF;
  background-position: center top;
padding:0;
  background-repeat: no-repeat;
  margin: 0;
}
table.soap {
  border-spacing: 2em;
}
table.soap td{
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

</style>
</head>
<body>
<div id = "bodycontainer">
<div style="width:10%;display:inline-block;position:absolute;z-index:-1;"><img style="display:inline-block; padding-top: 5px;z-index:1; padding-right: 3px; padding-bottom: 5px; padding-left: 8px;"src="{% static 'img/Eco Friends Logo2.png' %}" width="300px" height="300px" ></img></div>

<div style="display:inline-block;position:relative; margin:5%; width:90%;z-index:2;">
  <center><h2 style="margin:0">Track Your Travel</h2></center></div><center>

  <div style="text-align: center"><img src="{% static 'img/Transportation Images.png' %}" width="400" height="auto" margin-center="300px" margin-top="100px"></img></div>
<div id="deaddiv"> </div>

<button class="button"><span>Get started</span></button>

<div id = "userinputarea">
<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Departure">
  </div>
  <div class="autocomplete" style="width:300px;">
    <input id="myInput2" type="text" name="myCountry" placeholder="Destination">
  </div>
  <input type="submit">
</form>
</div>
<div class="table-wrapper">
  <table style="margin-top:1em;" class="soap">
    <thead>
      <tr>
        <th></th>
        <th>Distance</th>
        <th>CO2 Emissions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bus</td>
        <td>{{bus_dist}}</td>
        <td>{{bus_carbon}}</td>
      </tr>
      <tr>
        <td>Tube</td>
        <td>{{tube_dist}}</td>
        <td>{{tube_carbon}}</td>
      </tr>
      <tr>
        <td>Train</td>
        <td>{{train_dist}}</td>
        <td>{{train_carbon}}</td>
      </tr>
    </tbody>
  </table>

</div>
<br></br>
<br></br>
<br></br>
</center>


<h1 class="page-title"></h1>

<center>  <p class="homepage-text"> </p> </center>
</div>
<script> $(document).ready(function(){
  $("#deaddiv").hide();
    $("#userinputarea").hide();
      $(".button").show();
      $(".table-wrapper").hide();
});

$(".button").click(function(){
    $("#deaddiv").show();
    $("#userinputarea").show();
    $(".button").hide();
    $(".table-wrapper").hide();
});

$("#userinputarea").click(function(){
    $("#deaddiv").show();
    $("#userinputarea").show();
    $(".button").hide();
    $(".table-wrapper").show();
});



var countries = ["Edinburgh","Glasgow Central","Glasgow Queen Street","London Euston","London Victoria"];


function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
autocomplete(document.getElementById("myInput"), countries);
autocomplete(document.getElementById("myInput2"), countries);
</script>

</body>
</html>
